<h1 class="p-4">Jungle Dashboard</h1>

<table class="table table-bordered w-50 p-3 mx-auto">
  <tbody>
    <tr class="table-success">
      <th scope="row" class="col-7">Number of categories</th>
      <td><%= Category.count %></td>
    </tr>
    <tr class="table-success">
      <th scope="row">Number of products</th>
      <td><%= @product_count %></td>
    </tr>
  </tbody>
</table>