<section>
  <h1 class="pt-4 pb-4">About</h1>
  <p>
    Welcome to Jungle! We are passionate purveyors of lush jungle plants that bring a touch of the wild into your home. Whether you're a seasoned green thumb or just beginning your plant journey, we're here to inspire and support you every step of the way.
  </p>
  <p>
    Each plant in our collection is carefully curated to not only beautify your space but also to foster a sense of tranquility and connection with the natural world. From majestic monstera deliciosas to elegant fiddle leaf figs, our diverse range ensures there's something here to suit every taste and space.
  </p>
  <p>
    Founded with a commitment to sustainability, we prioritize eco-friendly practices in every aspect of our operation. From responsibly sourced plants to biodegradable packaging, we strive to minimize our environmental footprint while sharing the joy of greenery with our community.
  </p>
  <p>
    Whether you visit us in-store or explore our online shop, we invite you to discover the magic of jungle plants and find the perfect addition to your indoor oasis.
  </p>
  <p>
    Thank you for choosing Jungle! Let's grow together :)
  </p>
</section>